<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include('./layout/head.ejs') %>
    <body>
        <!-- Navigation-->
        <%- include('./layout/navBar.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/courses-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Mes Cours</h1>
                            <span class="subheading">Inscrivez-vous à mes cours de renforcements</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>
                        Si vous voulez devenir un maître en développement web, ne cherchez pas plus loin que 2MD. 
                        Avec des années d'expérience et un historique de succès éprouvé, 2MD est le coach idéal pour vous aider à atteindre vos objectifs. 
                        Ne manquez pas cette opportunité d'apprendre auprès des meilleurs - inscrivez-vous aux cours de 2MD dès aujourd'hui et prenez les premiers pas vers une carrière gratifiante en développement web.
                    </p>
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Comment s'inscrire aux cours payant donnés par 2MD ?</h2>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">Comment faire un cours avec 2MD ?</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 18, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">Les projets créés par 2MD</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 18, 2022
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include('./layout/footer.ejs') %>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <%- include('./layout/script.ejs') %>
    </body>
</html>
