<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include('./layout/head.ejs') %>
    <body>
        <!-- Navigation-->
        <%- include('./layout/navBar.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Publier</h1>
                            <span class="subheading">Partager vos pensées et idées avec le public.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                       
                        <!-- texte -->
                        <p>
                            Partager vos pensées et vos idées avec les autres est un moyen puissant de contribuer à la conversation et de faire entendre votre voix. En publiant un article, vous pouvez partager votre perspective unique avec un public plus large et participer à des discussions significatives avec d'autres. 
                            Alors n'hésitez pas à appuyer sur le bouton de publication et partager vos idées avec le monde !
                        </p>
                        <!-- formulaire -->
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" method="POST">
                                <div class="form-floating">
                                    <input name="title" class="form-control" id="title" type="text" placeholder="saisir votre titre..." />
                                    <label for="title">Titre</label>
                                </div>
                                <br><br>
                                <div class="form-floating">
                                    <textarea name="message" class="form-control" id="message" placeholder="saisir votre message ici..." style="height: 12rem" ></textarea>
                                    <script>
                                        $('#message').summernote({
                                          placeholder: 'saisir votre message ici...',
                                          tabsize: 2,
                                          height: 300
                                        });
                                    </script>
                                </div>
                                <br />
                                <div class="form-floating">
                                    <input name="post-image" class="form-control" id="post-image" type="file"/>
                                    <label for="post-image">Image de l'article</label>
                                </div>
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase disabled" id="submitButton" type="submit">Publier</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('./layout/footer.ejs') %>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <%- include('./layout/script.ejs') %>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
